<table class="changeData">
  <tbody>
    <tr>
      <td><strong>Conditions of establishing interest rate</strong></td>
      <td><%= condition %></td>
    </tr>
    <tr>
      <td><strong>Maximum credit amount</strong></td>
      <td><%= max_amount %></td>
    </tr>
    <tr>
      <td><strong>Interest rate,% per annum</strong></td>
      <td><%= rate %></td>
    </tr>
    <tr>
      <td><strong>Max credit time</strong></td>
      <td><%= max_time %></td>
    </tr>
    <tr>
      <td><strong>Form of credit payment</strong></td>
      <td><%= form_kind %></td>
    </tr>
    <tr>
      <td><strong>Terms of the credit</strong></td>
      <td><%= term %></td>
    </tr>
    <tr>
      <td><strong>Credits currency</strong></td>
      <td><%= currency %></td>
    </tr>
 
  </tbody> 
</table>       

